/* | Global Styles | */

/* Just for development */
* {
  /* outline: 1px solid red !important; */
}

html, body {
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


/* | Common Styles | */

.button {
  background-color: transparent;
  position: absolute;
  color: #FF00AA;
  border: 2px solid #FF00AA;
  font-family: Cantarell, FreeSans, serif;
  cursor: pointer;
  text-decoration: none; /* Don't underline text in the links */
  transition: 0.4s linear;
}

.button:hover {
  background-color: #FF00AA;
  color: #0B056F;
  transition: 0.4s linear;
}

.sections {
  height: 100%;
  text-align: center;
  user-select: none;
}

.sections h1 {
  padding-top: 20px;
  color: #43464b;
  font-size: 4em;
  font-family: "Tilt Warp", serif;
  margin: 0;
}

.sections section {
  height: 105%; /* A little taller so it appears to take up the entire screen better */
}


/* | Side Navigation Menu | */

#sideNav {
  height: 100%;
  width: 15%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Display directly over content on page */
  top: 0;
  right: 0;
  background-color: #4A4C4F;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: transform 0.5s;
  transform: translateX(100%); /* Hide from view by default */
}

/* Move side navigation into view */
#sideNav.visible {
  transform: translateX(0);
}

#sideNav a {
  display: block;
  padding: 2% 8% 10%; /* Top, right and left, bottom */
  text-decoration: none;
  font-size: clamp(16px, 6vw, 32px);
  color: white;
  transition: 0.3s;
  font-family: "Times New Roman", Times, serif;
}

#sideNav a:hover {
  color: #888888;
}


/* | Navigation Bar Button | */

.btnNavBar {
  z-index: 2; /* Display over Nav Bar */
  visibility: visible;
  position: fixed;
  display: inline-block;
  cursor: pointer;
  right: 20px;
  padding: 10px 10px 0; /* Top, right and left, bottom */
}

.bars {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.btnNavBar.dark .bars {
  background-color: black;
}

.btnNavBar.open .bars {
  background-color: white;
}

.btnNavBar:hover .bars {
  background-color: #888888;
}

.open #bar1 {
  transform: translate(0, 11px) rotate(45deg);
}

.open #bar2 {
  transform: scaleX(0);
  opacity: 0;
}

.open #bar3 {
  transform: translate(0, -11px) rotate(-45deg);
}


/* | Homepage | */

.home {
  padding-bottom: 10%;
}

#homePage {
  background-color: #0B056F;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homePage span {
  color: white;
  font-family: "Ultra", serif; /* Custom font from google fonts */
  font-size: 60px;
  opacity: 0;
  filter: blur(4px);
  /* Animation is from here: https://codepen.io/alvarotrigo/pen/ExvqdNa */
  animation: fadeIn 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#homePage .button {
  width: 16%;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 0;
  font-size: 1.3em;
  animation: fadeIn 2s forwards;
}

#homePage .button i {
  margin-left: 5px;
  transition: transform ease 0.5s;
}

#homePage .button:hover i {
  transform: rotate(90deg);
  transition: transform ease 0.4s;
}

/* Homepage buttons */
#homePage #viewWork-button {
  left: 31%;
  animation-delay: 1.4s;
}

#homePage #contact-button {
  left: 51%;
  animation-delay: 1.8s;
}

/* | About page | */
#about {
  background-color: white;
}

#about h1 {
  color: #0B056F;
}


/* | Projects page | */

#projects {
  background-color: white;  /* Set in html and body, but here for clarity */
}

#project-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  /* Don't extend the scrollbar to the elements' positions before they are transitioned up */
  overflow-y: hidden;
  list-style-type: none;
}

#project-icons.slide-in .project {
  transform: translateY(0%);
  transition: transform 1s ease-out;
}

#project-icons .project img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.project {
  padding: 1.3%;
  position: relative;
  width: 38%;
  height: 46%;
  transform: translateY(150%);
}

.project .button {
  top: 67%;
  bottom: 17%;
  width: 45%;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 1.2rem;
}

.project .button:hover {
   transition-duration: 0.2s;
 }

.project p {
  font-family: 'Playfair Display', Ultra, serif;
  font-size: 1.5rem;
}

.project:hover img {
  transform: scale(1.05);
  opacity: 0.3;
}

.project-description {
  position: absolute;
  inset: 20% 0 0 0;
  opacity: 0;
  transition: 0.3s;
}

.project:hover .project-description {
  opacity: 1;
  transform: scale(1.03);
}


/* | Contact page | */

#contact {
  background-color: #0B056F;
  height: 100%;
}

#contact h1 {
  color: white;
  margin-bottom: 30px;
}

#contact .contactForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.1fr 0.6fr 0.15fr 0.2fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  width: 50%;
  height: 75%;
  margin: auto;
}

#contact .button,
#contact .formMessage,
#contact #message {
  /* Span these elements across both columns */
  grid-column: span 2;
}

#contact .button {
  position: relative;
  width: 25%;
  place-self: center; /* Center in the grid */
  transition-duration: 0.2s;
}

#contact input,
#contact textarea {
  resize: none;
  padding: 8px 6px;
  font-family: inherit;
  font-size: 16px;
}

#contact .formInput {
  border-radius: 4px;
  border: 1.5px solid #555555;
}

#contact .formInput:focus {
  outline: none;
  padding: 7px 5px;
  border-width: 2.5px;
  border-color: #FF00AA;
}

#contact textarea:focus::selection,
#contact input:focus::selection {
  /* Highlight color for selected text */
  background-color: #888888;
}

#contact .formMessage {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 10px;
}

#contact .contactForm.submitted .formMessage {
  /* Pop the message out when the form is submitted */
  animation: 1.2s popOut ease;
}

#contact .formMessage div {
  /* Hide the form message until the form is submitted */
  display: none;
}

#contact .formMessage div.visible {
  /* Reset the display to its inherited value */
  display: unset;
}

#contact .formMessage .failMessage {
  color: #FF3333;
}

#contact .formMessage .successMessage {
  color: #00FF00;
}

#contact .failMessage a {
  text-decoration: none; /* Don't underline text in the links */
  color: #00BBFF;
}


 /* | Animations | */

@keyframes fadeIn {
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes popOut {
  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}


/* | Media queries | */

@media only screen
  and (max-device-width: 700px)
  and (orientation: portrait) {

  /* Move the navigation bar to the top */
  #sideNav {
    width: 100%;
    height: auto;
    position: fixed;

    /* Open downwards instead of sideways */
    transform: translateY(-100%);
  }

  /* Move side navigation into view */
  #sideNav.visible {
    transform: translateY(0%);
  }
}
