/* | Global Styles | */

/* Just for development */
/* * { */
/*   outline: 1px solid red !important; */
/* } */

:root {
  /* Main colors */
  --primary-color: white;
  --secondary-color: #0B056F;
  --tertiary-color: #FF00AA;

  /* Global element colors */
  --dark-color: black;
  --hover-color: #888888;
  --text-color: #424242;

  /* Element-specific colors */
  --about-resume-color: #0C3F8D;
  --about-resume-hover-color: #53CCDB;

  --contact-description-color: lightgray;
  --contact-link-color: #0066FF;
  --contact-failure-color: #FF3333;
  --contact-success-color: #00DD00;

  --project-header-color: #43464B;

  --sidebar-color: #404040;

  --timeline-middle-color: #49302B;
  --timeline-text-color: #351E10;
  --timeline-time-color: gray;
}

html, body {
  background-color: var(--primary-color);
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}


/* | Common Styles | */

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input, textarea {
  /* Safari has a default border radius, so it needs to be removed */
  border-radius: 0px;
}

.button {
  background-color: transparent;
  color: var(--tertiary-color);
  font-family: Cantarell, FreeSans, serif;
  border: 2px solid var(--tertiary-color);
  cursor: pointer;
  transition: 0.4s linear;
}

.button:hover {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.sections {
  height: 100%;
  text-align: center;
  user-select: none;
}

.sections h1 {
  color: var(--secondary-color);
  margin: 0 0 5rem;
  padding-top: 20px;
  font-family: Cantarell, serif;
  font-size: 4em;
}

.sections section {
  min-height: 100%;
}


/* | Side Navigation Menu | */

#sideNav {
  background-color: var(--sidebar-color);
  position: fixed;
  z-index: 1;
  height: 100%;
  width: clamp(175px, 15%, 200px);
  top: 0;
  right: 0;
  padding-top: 60px;
  transition: transform 0.5s;
  transform: translateX(100%);
}

/* Move side navigation into view */
#sideNav.visible {
  transform: translateX(0);
}

#sideNav a {
  color: var(--primary-color);
  display: block;
  padding: 0.25rem 1.25rem 1.25rem;
  font-family: "Times New Roman", Times, serif;
  font-size: clamp(16px, 2.5rem, 32px);
  transition: 0.3s;
}

#sideNav a:hover {
  color: var(--hover-color);
}

#sideNav i {
  font-size: clamp(8px, 1.25rem, 16px);
  transform: translateY(-1px); /* Translate up slightly to be in line with the text */
}


/* | Navigation Bar Button | */

.btnNavBar {
  position: fixed;
  z-index: 2; /* Display over Nav Bar */
  right: 1.5%;
  margin: 1rem 0 0 0;
  cursor: pointer;
}

.bars {
  background-color: var(--primary-color);
  width: 35px;
  height: 5px;
  margin: 6px 0;
  transition: 0.3s;
}

.btnNavBar.dark .bars {
  background-color: var(--dark-color);
}

.btnNavBar.open .bars {
  background-color: var(--primary-color);
}

.btnNavBar:hover .bars {
  background-color: var(--hover-color);
}
.open #bar1 {
  transform: translate(0, 11px) rotate(45deg);
}

.open #bar2 {
  transform: scaleX(0);
  opacity: 0;
}

.open #bar3 {
  transform: translate(0, -11px) rotate(-45deg);
}


/* | Bottom bar | */

.bottomBar {
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0;
  pointer-events: none; /* Allow for clicking through the bar */
}

.bottomBar a {
  display: block;
  padding: 1% 1.5%;
  font-size: 2.5rem;
}

.bottomBar a.left {
  margin-left: 0;
}

.bottomBar img {
  width: 2.2rem;
  border-radius: 10px;
  pointer-events: auto; /* Allow for clicking even though its parent can't be clicked */
}

.bottomBar i {
  color: var(--primary-color);
  pointer-events: auto; /* Allow for clicking even though its parent can't be clicked */
  transition: 0.3s;
}

.bottomBar i.dark {
  color: var(--dark-color);
}

.bottomBar i:hover {
  color: var(--hover-color);
}


/* | Homepage | */

#homePage {
  background-color: var(--secondary-color);
  flex-direction: column;
}

#homePage .text {
  color: var(--primary-color);
  font-family: Inter, serif;
  font-size: 4rem;
}

#homePage span {
  opacity: 0;
  filter: blur(4px);
  /* Animation is from here: https://codepen.io/alvarotrigo/pen/ExvqdNa */
  animation: fadeIn 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#homePage .button {
  width: 100%;
  margin: 15px 15px 0;
  padding: 15px;
  font-size: 1.3em;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

#homePage i {
  margin-left: 5px;
  transition: transform ease 0.4s;
}

#homePage .button:hover i {
  transform: rotate(90deg);
}


/* | About page | */

#about .about {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

#about img {
  width: 575px;
  /* Used instead of border-radius because filter doesn't take border-radius into account
   * on iPhones. If clip-path is unsupported in a browser, the image is still circular but
   * the same issue will still happen on iPhones.
   * */
  clip-path: circle();
  filter: blur(10px);
}

#about.animate img {
  filter: blur(0);
  transition: filter 1.5s, transform 0.3s;
}

#about img:hover {
  transform: scale(1.03);
}

#about .description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  width: clamp(30.75rem, 50%, 600px);
  margin: 0.6rem;
  user-select: text;

  /* Hide scrollbar due to transition from off the screen to on the screen */
  overflow: hidden;
}

.about-description {
  color: var(--text-color);
  font-family: Arvo, serif;
  font-size: 1.2rem;
}

.timeline {
  position: relative;
  width: 30.75rem;
  max-width: 100%;
  height: 60%;
  margin: 0 auto;
  padding: 0;
}

/* Middle line */
.timeline:before {
  content: "";
  background-color: var(--timeline-middle-color);
  position: absolute;
  height: 10px;
  left: 0;
  right: 0;
  top: 50%;
  border-radius: 25px;
  transform: translateY(-50%);
}

.timeline li {
  position: relative;
  width: calc(100% / 3); /* 100% / Number of elements in timeline */
  height: 100%;
  min-height: 300px;
  list-style: none;
}

/* Timeline circles */
.timeline li:after {
  content: "";
  background-color: var(--timeline-middle-color);
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
}

.timeline .content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  width: 8.5rem;
  height: 7.875rem;
  font-family: Arvo, serif;
  border: 4px solid var(--secondary-color);
  border-radius: 15px;
  transition-duration: 2s;
  transform: translateX(100%);
}

/* Slide timeline elements into place */
#about.animate .timeline .content {
  transform: translateX(0);
}

.timeline li:nth-child(odd) .content {
  bottom: 30%;
}

.timeline li:nth-child(even) .content {
  flex-direction: column-reverse;
  top: 30%;
}

/* Timeline arrows */
.timeline li .content::before {
  content: "";
  position: absolute;
  border: 12px solid;
}

.timeline li:nth-child(odd) .content::before {
  top: 100%;
  border-color: var(--secondary-color) transparent transparent;
}

.timeline li:nth-child(even) .content::before {
  bottom: 100%;
  border-color: transparent transparent var(--secondary-color);
}

.timeline time {
  color: var(--timeline-time-color);
  width: 100%;
  margin: 2px 0;
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
}

.timeline p {
  color: var(--timeline-text-color);
  font-size: 1rem;
  margin: 0 5px;
}

#about .resume {
  position: relative;
  pointer-events: none; /* Only allow for clicking in the link element */
}

#about .resume a {
  color: var(--about-resume-color);
  font-size: 2.1rem;
  pointer-events: auto; /* Enable clicking only in the link element */
}

/* Underline on hover */
#about .resume:hover::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 2.5px;
  bottom: 0;
  left: 30%;
  background-color: var(--about-resume-hover-color);
}

#about .resume i {
  transition-duration: 0.5s;
  transform: translateY(0.2rem);
}

#about .resume a:hover i {
  transform: translateX(0.5rem) translateY(0.2rem);
}


/* | Projects page | */

#project-icons {
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  list-style-type: none;
  /* Don't extend the scrollbar to the elements' positions before they are transitioned up */
  overflow-y: hidden;
}

#projects h1 {
  color: var(--project-header-color);
}

#projects.animate .project {
  transform: translateY(0%);
  transition: transform 1s ease-out;
}

.project {
  position: relative;
  width: 575px;
  padding: 1.3%;
  transform: translateY(150%);
}

.project img {
  width: 100%;
  transition: 0.3s;
}

.project .button {
  padding: 0.625rem 2.5rem;
  font-size: 1.4rem;
  transition-duration: 0.2s;
}

.project p {
  font-family: "Playfair Display", Ultra, serif;
  font-size: 2rem;
}

.project:hover img {
  transform: scale(1.05);
  opacity: 0.3;
}

.project-description {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
}

.project:hover .project-description {
  opacity: 1;
  transform: scale(1.03);
}


/* | Contact page | */

#contact {
  background-color: var(--secondary-color);
  min-height: 100%;
}

#contact h1 {
  color: var(--primary-color);
  margin-bottom: 2rem;
}

#contact .description {
  color: var(--contact-description-color);
  margin: 30px 0;
  font-family: Arvo, serif;
  font-size: 2rem;
}

#contact .contactForm {
  background-color: var(--primary-color);
  display: none;
  width: min(50rem, 90%);
  height: 25rem;
  margin: auto;
  padding: 40px 20px 0;
  position: relative;
  border-radius: 15px;
  box-sizing: border-box;
}

#contact.animate .contactForm {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  animation: popIn 1s both;
}

#contact .styled-input {
  width: 100%;
  height: 10%;
}

#contact .styled-input.large {
  width: 100%;
  height: 30%;
}

#contact .formInput {
  background: none;
  color: var(--text-color);
  position: relative;
  width: 48%;
  height: 100%;
  font-family: "Times New Roman", serif;
  font-size: 1rem;
  border: none;
  border-bottom: solid 2px var(--text-color);
  box-sizing: border-box;
  outline: none;
}

#contact textarea.formInput {
  min-height: 20%;
  resize: none;
}

#contact .formInput:focus {
  border-color: var(--tertiary-color);
}

#contact .button {
  width: clamp(200px, 25%, 100%);
  height: 12%;
  margin: 0 auto;
  font-size: 1.1rem;
  transition-duration: 0.2s;
}

#contact .formInput:focus::selection {
  /* Highlight color for selected text */
  background-color: var(--hover-color);
}

#contact .formMessage {
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: bold;
}

.contactForm.submitted .formMessage div {
  /* Pop the message out when the form is submitted */
  animation: 1s popIn ease;
}

.formMessage div {
  /* Hide the form message until the form is submitted */
  display: none;
  position: absolute;
  width: 80%;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.formMessage div.visible {
  /* Reset the display to its inherited value */
  display: unset;
}

.formMessage .failMessage {
  color: var(--contact-failure-color);
}

.formMessage .successMessage {
  color: var(--contact-success-color);
}

.failMessage a {
  color: var(--contact-link-color);
}


 /* | Animations | */

@keyframes fadeIn {
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}


/* | Media queries | */

@media only screen
  and (max-device-width: 700px)
  and (orientation: portrait) {

   html, body {
    font-size: 12px;
   }

   .sections h1 {
     margin-bottom: 2rem;
   }

  /* Move the navigation bar to the top */
  #sideNav {
    width: 100%;
    height: auto;

    /* Open downwards instead of sideways */
    transform: translateY(-100%);
  }

  /* Move side navigation into view */
  #sideNav.visible {
    transform: translateY(0%);
  }

  #sideNav a {
    padding-left: 2.25rem;
  }

  .btnNavBar {
    right: 4%; /* Same percentage as bottom bar margin */
  }

  .bottomBar {
    width: 92%;
    margin: 1% 4%;
  }

  .bottomBar a {
    margin-left: 6%;
  }

  #homePage .buttons {
    flex-direction: column;
  }

  #homePage .button {
    width: 50%;
  }

  #about .about {
    gap: 1rem;
  }

  #about img {
    width: 330px;
  }

  .timeline li .content {
    gap: 0.5rem;
  }

  #about .resume:hover::after {
    width: 42%;
    left: 26%;
  }

  #project-icons {
    margin: 0 5%;
  }

  .project .button {
    font-size: 1.7rem;
  }

  #contact .contactForm {
    height: 35rem;
  }

  #contact .formInput {
    width: 100%;
    font-size: 1.5rem;
  }

  #contact #email {
    margin-top: 1.5rem;
  }

  #contact textarea.styled-input {
    margin-top: 4rem;
  }

  #contact .button {
    font-size: 1.8rem;
  }

  .formMessage div {
    bottom: 1.5rem;
  }
}

/* Fix sidebar links being off-screen on landscape Mobile devices */
@media only screen
  and (max-device-width: 700px)
  and (orientation: landscape) {
  #sideNav a {
    padding-bottom: 0.5rem;
  }
}
