/* | Global Styles | */

/* Just for development */
* {
  /* outline: 1px solid red !important; */
}

html, body {
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}


/* | Common Styles | */

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

.button {
  background-color: transparent;
  color: #FF00AA;
  border: 2px solid #FF00AA;
  font-family: Cantarell, FreeSans, serif;
  cursor: pointer;
  transition: 0.4s linear;
}

.button:hover {
  background-color: #FF00AA;
  color: #0B056F;
}

.sections {
  height: 100%;
  text-align: center;
  user-select: none;
}

.sections h1 {
  padding-top: 20px;
  color: #43464b;
  font-size: 4em;
  font-family: Cantarell, serif;
  margin: 0 0 5rem;
}

.sections section {
  min-height: 100%;
}


/* | Side Navigation Menu | */

#sideNav {
  height: 100%;
  width: clamp(175px, 15%, 200px);
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #404040;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
  transition: transform 0.5s;
  transform: translateX(100%);
}

/* Move side navigation into view */
#sideNav.visible {
  transform: translateX(0);
}

#sideNav a {
  display: block;
  padding: 0.25rem 1.25rem 1.25rem;
  font-size: clamp(16px, 2.5rem, 32px);
  color: white;
  transition: 0.3s;
  font-family: "Times New Roman", Times, serif;
}

#sideNav a:hover {
  color: #888888;
}

#sideNav a i {
  font-size: clamp(8px, 1.25rem, 16px);
  transform: translateY(-1px); /* Translate up slightly to be in line with the text */
}


/* | Navigation Bar Button | */

.btnNavBar {
  z-index: 2; /* Display over Nav Bar */
  visibility: visible;
  position: fixed;
  display: inline-block;
  cursor: pointer;
  right: 1.5%;
  padding: 1rem 0 0 0;
}

.bars {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.3s;
}

.btnNavBar.dark .bars {
  background-color: black;
}

.btnNavBar.open .bars {
  background-color: white;
}

.btnNavBar:hover .bars {
  background-color: #888888;
}

.open #bar1 {
  transform: translate(0, 11px) rotate(45deg);
}

.open #bar2 {
  transform: scaleX(0);
  opacity: 0;
}

.open #bar3 {
  transform: translate(0, -11px) rotate(-45deg);
}


/* | Bottom bar | */
.bottomBar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  bottom: 0;
  pointer-events: none; /* Allow for clicking through the bar */
  z-index: 1;
}

.bottomBar a {
  display: block;
  padding: 1% 1.5%;
  font-size: 2.5rem;
  float: right;
}

.bottomBar a.left {
  float: left;
  margin-left: 0;
}

.bottomBar img {
  width: 2.2rem;
  border-radius: 10px;
  pointer-events: auto; /* Allow for clicking even though its parent can't be clicked */
}

.bottomBar i {
  color: white;
  transition: 0.3s;
  pointer-events: auto; /* Allow for clicking even though its parent can't be clicked */
}

.bottomBar.dark i {
  color: black;
}

.bottomBar i:hover {
  color: #888888;
}


/* | Homepage | */

#homePage {
  background-color: #0B056F;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#homePage .text {
  color: white;
  font-family: Inter, serif;
  font-size: 4rem;
}

#homePage span {
  opacity: 0;
  filter: blur(4px);
  /* Animation is from here: https://codepen.io/alvarotrigo/pen/ExvqdNa */
  animation: fadeIn 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#homePage .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#homePage .button {
  width: 100%;
  margin: 15px 15px 0;
  padding: 15px;
  opacity: 0;
  font-size: 1.3em;
  animation: fadeIn 2s forwards;
}

#homePage .button i {
  margin-left: 5px;
  transition: transform ease 0.5s;
}

#homePage .button:hover i {
  transform: rotate(90deg);
  transition: transform ease 0.4s;
}


/* | About page | */

#about {
  background-color: white;
}

#about h1 {
  color: #0B056F;
}

#about .about {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

#about img {
  width: 575px;
  border-radius: 50%;
  filter: blur(12px);
}

#about.animate img {
  transition: filter 1.5s, transform 0.3s;
  filter: blur(0);
}

#about img:hover {
  transform: scale(1.03);
}

#about .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: clamp(30.75rem, 50%, 600px);
  user-select: text;
  margin: 0.6rem;
  gap: 2rem;

  /* Hide scrollbar due to transition from off the screen to on the screen */
  overflow: hidden;
}

#about .about-description {
  font-size: 1.5rem;
  font-family: Arvo, serif;
  color: #424242;
}

#about .timeline {
  position: relative;
  width: 30.75rem;
  max-width: 100%;
  height: 60%;
  padding: 0;
  margin: 0 auto;
}

/* Middle line */
#about .timeline::before {
  content: "";
  position: absolute;
  background: #49302b;
  height: 10px;
  left: 0;
  right: 0;
  top: 50%;
  border-radius: 25px;
  transform: translateY(-50%);
}

#about .timeline li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3); /* 100% / Number of elements in timeline */
  height: 100%;
  min-height: 300px;
  float: left;
  list-style: none;
}

/* Timeline circles */
#about .timeline li::after {
  content: "";
  position: absolute;
  background: #49302b;
  width: 25px;
  height: 25px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
}

#about .timeline li .content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 8.5rem;
  height: 7.875rem;
  border: 4px solid #0B056F;
  border-radius: 15px;
  font-family: Arvo, serif;
  transform: translateX(100%);
  transition-duration: 2s;
}

/* Slide timeline elements into place */
#about.animate .timeline li .content {
  transform: translateX(0);
}

#about .timeline li:nth-child(odd) .content {
  bottom: 30%;
}

#about .timeline li:nth-child(even) .content {
  top: 30%;
  flex-direction: column-reverse;
}

/* Timeline arrows */
#about .timeline li .content::before {
  content: "";
  position: absolute;
  border: 12px solid;
}

#about .timeline li:nth-child(odd) .content::before {
  top: 100%;
  border-color: #0B056F transparent transparent;
}

#about .timeline li:nth-child(even) .content::before {
  bottom: 100%;
  border-color: transparent transparent #0B056F;
}

#about .timeline li .content time {
  width: 100%;
  font-size: 1.2rem;
  font-family: "Roboto Slab", serif;
  color: gray;
  margin: 2px 0;
}

#about .timeline li .content p {
  font-size: 1rem;
  color: #351e10;
  margin: 0 5px;
}

#about .resume {
  position: relative;
  pointer-events: none; /* Only allow for clicking in the link element */
}

#about .resume a {
  color: #0C3F8D;
  font-size: 2.1rem;
  pointer-events: auto; /* Enable clicking only in the link element */
}

/* Underline on hover */
#about .resume:hover::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 2.5px;
  bottom: 0;
  left: 30%;
  background: #53CCDB;
}

#about .resume i {
  transition-duration: 0.5s;
  transform: translateY(0.2rem);
}

#about .resume a:hover i {
  transform: translateX(0.5rem) translateY(0.2rem);
}


/* | Projects page | */

#projects {
  background-color: white; /* Set in html and body, but here for clarity */
}

#project-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  /* Don't extend the scrollbar to the elements' positions before they are transitioned up */
  overflow-y: hidden;
  list-style-type: none;
}

#projects.animate #project-icons .project {
  transform: translateY(0%);
  transition: transform 1s ease-out;
}

#project-icons .project img {
  width: 100%;
  transition: 0.3s;
}

.project {
  padding: 1.3%;
  position: relative;
  width: 575px;
  transform: translateY(150%);
}

.project .button {
  padding: 0.625rem 2.5rem;
  font-size: 1.4rem;
}

.project .button:hover {
   transition-duration: 0.2s;
 }

.project p {
  font-family: "Playfair Display", Ultra, serif;
  font-size: 2rem;
}

.project:hover img {
  transform: scale(1.05);
  opacity: 0.3;
}

.project-description {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  inset: 0;
  opacity: 0;
  transition: 0.3s;
}

.project:hover .project-description {
  transform: scale(1.03);
  opacity: 1;
}


/* | Contact page | */

#contact {
  background-color: #0B056F;
  min-height: 100%;
}

#contact h1 {
  color: white;
  margin-bottom: 2rem;
}

#contact .description {
  margin-bottom: 30px;
  font-family: Arvo, serif;
  font-size: 2rem;
  color: lightgray;
}

#contact .contactForm {
  display: none;
  width: min(50rem, 90%);
  height: 25rem;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  border-radius: 15px;
  background: white;
  padding: 40px 20px 0;
}

#contact.animate .contactForm {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  animation: popIn 1s both;
}

#contact .styled-input {
  width: 100%;
  height: 10%;
}

#contact input,
#contact textarea {
  /* Safari has a default border radius, so it needs to be removed */
  border-radius: 0px;
}

#contact .formInput {
  position: relative;
  box-sizing: border-box;
  width: 48%;
  height: 100%;
  float: left;
  background: none;
  font-size: 1rem;
  font-family: "Times New Roman", serif;
  border: none;
  border-bottom: solid 2px #424242;
  color: #424242;
  outline: none;
}

#contact .styled-input.large {
  width: 100%;
  height: 30%;
}

#contact #email {
  float: right;
}

#contact textarea.formInput {
  resize: none;
  min-height: 20%;
}

#contact .formInput:focus {
  outline: none;
  border-color: #FF00AA;
}

#contact input {
  flex-shrink: 0.5;
}

#contact .button {
  width: clamp(200px, 25%, 100%);
  height: 12%;
  font-size: 1.1rem;
  transition-duration: 0.2s;
  margin: 0 auto;
}

#contact .formInput:focus::selection {
  /* Highlight color for selected text */
  background-color: #888888;
}

#contact .formMessage {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 10px;
}

#contact .contactForm.submitted .formMessage div {
  /* Pop the message out when the form is submitted */
  animation: 1s popOut ease;
}

#contact .formMessage div {
  /* Hide the form message until the form is submitted */
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
  bottom: 2rem;
}

#contact .formMessage div.visible {
  /* Reset the display to its inherited value */
  display: unset;
}

#contact .formMessage .failMessage {
  color: #FF3333;
}

#contact .formMessage .successMessage {
  color: #00DD00;
}

#contact .failMessage a {
  color: #00BBFF;
}


 /* | Animations | */

@keyframes fadeIn {
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes popOut {
  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}


/* | Media queries | */

@media only screen
  and (max-device-width: 700px)
  and (orientation: portrait) {

   html, body {
    font-size: 12px;
   }

   .sections h1 {
     margin-bottom: 2rem;
   }

  /* Move the navigation bar to the top */
  #sideNav {
    width: 100%;
    height: auto;

    /* Open downwards instead of sideways */
    transform: translateY(-100%);
  }

  /* Move side navigation into view */
  #sideNav.visible {
    transform: translateY(0%);
  }

  #sideNav a {
    padding-left: 2.25rem;
  }

  .btnNavBar {
    right: 4%; /* Same percentage as bottom bar margin */
  }

  .bottomBar {
    width: 92%;
    margin: 1% 4%;
  }

  .bottomBar a {
    margin-left: 6%;
  }

  #homePage .buttons {
    flex-direction: column;
  }

  #homePage .button {
    width: 50%;
  }

  #about .about {
    gap: 1rem;
  }

  #about img {
    width: 330px;
  }

  #about .timeline li .content {
    gap: 0;
  }

  #about .resume:hover::after {
    width: 42%;
    left: 26%;
  }

  #project-icons {
    margin: 0 5%;
  }

  .project .button {
    font-size: 1.7rem;
  }

  #contact h1 {
    margin-bottom: 2rem;
  }

  #contact .contactForm {
    height: 35rem;
  }

  #contact .formInput {
    width: 100%;
    font-size: 1.5rem;
  }

  #contact #email {
    margin-top: 1.5rem;
  }

  #contact textarea.styled-input {
    margin-top: 4rem;
  }

  #contact .button {
    font-size: 1.8rem;
  }

  #contact .formMessage div {
    bottom: 1.5rem;
  }
}

@media only screen
  and (max-device-width: 700px)
  and (orientation: landscape) {
  #sideNav a {
    padding-bottom: 0.5rem;
  }
}
